ul.comments_list {
  padding: 0px 0px 20px 0px;
}
.comment_author_details_box {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 45px;
  background-color: white;
  border-radius: 15px;
  border: solid 2px #3f2021;
  box-shadow: 1px 1px 4px 1px #3f2021;
  margin-bottom: 10px;
}
.avatar_box {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 50px;
}
.comment_author_avatar {
  height: 30px;
}
.comment_author_box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: solid 0.5px #a0d1ca;
  box-shadow: 1px 1px 4px 1px #a0d1ca;
  padding: 2px;
  margin: 4px;
}
.comment_author_name {
  font-size:small;
  padding: 5px;
  
  
}
.comment_list_item {
  display: block;

  margin: 15px 10px;
  list-style: none;
  padding: 15px;
  background-color: #a0d1ca;
  border-radius: 15px;
  box-shadow: 1px 1px 8px 2px #e44222;
  max-width: 750px;
}
.comment_list_item {
  border: solid 1px #e44222;
}
.votes_comments_container {
  display: flex;
  margin: 0px 20px;
  padding: 0 15px;
}
.votes_button_container {
  display: flex;
  justify-content: center;
}
.comments_button_container {
  display: flex;
  justify-content: center;
}

.comments_button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #e9dbb2;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 10px;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .comments_button {
    padding: 19px 32px;
  }
}

.comments_button:before,
.comments_button:after {
  border-radius: 80px;
}

.comments_button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.comments_button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.comments_button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.comments_button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.comments_button:active:not(:disabled) {
  color: #ccc;
}

.comments_button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.comments_button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.comments_button:disabled {
  cursor: default;
  opacity: 0.24;
}

.comment_votes_button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #e9dbb2;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 14px;
  font-weight: 800;
  justify-content: center;
  line-height: 15px;
  margin: 0 auto;
  min-height: 30px;
  outline: none;
  overflow: visible;
  padding: 15px 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

.comment_votes_button:before,
.comment_votes_button:after {
  border-radius: 80px;
}

.comment_votes_button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

/* .comment_votes_button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
} */

.comment_votes_button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.comment_votes_button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.comment_votes_button:active:not(:disabled) {
  color: #ccc;
}

.comment_votes_button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.comment_votes_button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.comment_votes_button:disabled {
  cursor: default;
  opacity: 0.24;
}

.delete_comment_button_container {
  display: flex;
  justify-content: left;
}
.delete_comment_button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #e9dbb2;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 14px;
  font-weight: 800;
  justify-content: center;
  line-height: 26px;
  margin: 10px 10px 10px 0px;
  min-height: 38px;
  outline: none;
  overflow: visible;
  padding: 10px 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

.delete_comment_button:before,
.delete_comment_button:after {
  border-radius: 80px;
}

.delete_comment_button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.delete_comment_button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.delete_comment_button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.delete_comment_button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.delete_comment_button:active:not(:disabled) {
  color: #ccc;
}

.delete_comment_button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.delete_comment_button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.delete_comment_button:disabled {
  cursor: default;
  opacity: 0.24;
}

@media only screen and (min-width: 768px) {
  .comment_list_item {
    margin: 15px auto;
  }
}
