.article_container {
  margin: 15px 10px;
  padding: 15px;
  background-color: #e9dbb2;
  border-radius: 15px;
  box-shadow: 1px 1px 8px 2px #e44222;
  max-width: 750px;
  min-width: 200px;
}
.article_by {
  text-align: center;
  margin: 5px;
}
.article_comments {
  text-align: center;
}
.article_title {
  font-weight: 700;
  text-align: center;
  padding: 15px;
  background-color: #e44222;
  border-radius: 15px;
  border: solid 2px #3f2021;
  box-shadow: 1px 1px 4px 1px #3f2021;
}
.article_topic {
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}
.article_author {
  text-align: center;
  padding: 5px;
  flex-wrap: wrap;
  font-size: medium;
}
.author_box {
  display: flex;
  justify-content: center;
}
.article_avatar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  border: solid 2px #3f2021;
  box-shadow: 1px 1px 4px 1px #3f2021;
  width: 120px;
  background-color: white;
}
.article_author_avatar {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  align-self: center;
  padding: 5px;
}
.article_body {
  margin: 10px;
}
.article_votes {
  text-align: center;
}
.article_date {
  text-align: center;
}
.home_link {
  text-decoration: none;
  color: #e9dbb2;
}

.votes_button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #e9dbb2;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 10px;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 10px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .votes_button {
    padding: 19px 32px;
  }
}

.votes_button:before,
.votes_button:after {
  border-radius: 80px;
}

.votes_button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.votes_button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.votes_button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.votes_button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.votes_button:active:not(:disabled) {
  color: #ccc;
}

.votes_button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.votes_button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.votes_button:disabled {
  cursor: default;
  opacity: 0.24;
}

@media only screen and (min-width: 768px) {
  .article_container {
    margin: auto;
  }
}
